<nav class="navbar bg-dark navbar-dark navbar-expand-md">
  <div class="container-fluid">

      <a class = "navbar-brand"
       routerLink ='/'>
        <img class = "logo" src="../../../assets/logo.jpg" alt="logo">
      WIN ROBOT
      </a>
    <ul class="navbar-nav">
      <li class="nav-item"> <a class = "nav-link " routerLinkActive='active'
        [routerLinkActiveOptions]='{exact:true}' routerLink ='/'>Home</a> </li>
      <li class="nav-item"> <a class = "nav-link " routerLinkActive='active' routerLink='/course'>Courses</a> </li>
      <li class="nav-item"> <a class = "nav-link " >About</a> </li>
      <li class="nav-item"> <a class = "nav-link " routerLinkActive='active' routerLink='/login'>Login</a> </li>

    </ul>
  </div>
  </nav>
