<div class="container">
  <div class="row">
    <div class="col text-center">
        <h1>{{ formName |uppercase }}</h1>

        <form (ngSubmit)="onSubmit(login)" #login="ngForm">

          <input  type="email" name="email" placeholder="email" ngModel required email>
          <br>
          <input class="my-2" type="password" name="password" placeholder="password" ngModel required>
          <br>
          <p *ngIf="!formValid">enter valid data</p>

          <button type="submit" class="btn btn-primary me-3">LOGIN</button>

          <button class="btn btn-primary "><a class="text-light" routerLink='/register'>Register</a></button>
        </form>

    </div>
   </div>
</div>



