<div class="carousel slide bg-dark mt-1" id="maincarousel" data-bs-ride= "carousel">

  <div class="carousel-inner" align="center">
    <div class="carousel-item active" >
      <img src="../../../../assets/carousel/brain_3.jpg" alt="brain" class="d-block ">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carousel/danger_ahead.jpg" alt="danger" class="d-block ">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/carousel/fresh_food.jpg" alt="food" class="d-block ">
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target ="#maincarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" data-bs-target ="#maincarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
</div>
<article>
  <section>
    <h3>Haeding</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat velit dolorem magnam atque quasi assumenda eum tempore sapiente ipsa. Harum quisquam vitae maxime quis tempora consequuntur minus repellendus dolor. Fugiat!
    Illo necessitatibus ipsum eius! Dolores, aperiam ipsa. Debitis quibusdam ut laborum maxime aliquid accusamus rerum sint repudiandae quisquam veniam nam, sit vero ullam autem repellendus repellat, tempore blanditiis perspiciatis expedita?
    Quo deleniti eos harum ducimus maxime beatae, consectetur iste explicabo molestias excepturi accusamus voluptatum, nesciunt voluptate illum ea cum? Quos possimus obcaecati accusantium. Itaque non dolor veniam, quis voluptates fugit.
    Molestias esse ad similique? Blanditiis odit optio ad eaque consequatur asperiores veritatis similique molestias dolore alias deleniti at eos debitis quod nesciunt laudantium dolorum, animi minus fugit repellat ex porro?
    Voluptatem fugit omnis voluptate! Natus voluptatem non cum pariatur nesciunt iste obcaecati cupiditate magnam provident qui deleniti debitis rerum eos, esse soluta quasi eveniet, a, saepe voluptate dolorum aperiam vitae.
    Debitis iusto voluptatibus blanditiis sed, ad corporis quae incidunt voluptatem quis. Tenetur temporibus id omnis iste placeat dicta, ducimus odio velit totam. Ipsa iste corrupti autem saepe, consequuntur cumque accusamus?
    Incidunt, quis asperiores. Sunt omnis, quasi accusantium quod non eos, ex asperiores nobis tempore quo quos commodi natus veritatis? Magni blanditiis odio accusantium praesentium sunt quas maiores illo amet nemo!
    Accusamus magni rerum expedita sunt recusandae fugit dolore minus nisi labore, obcaecati at voluptatum totam. Aspernatur maxime esse cupiditate iste, culpa sed quisquam dolor, cum deserunt nesciunt, ab deleniti temporibus!
    Hic ipsam placeat commodi accusantium. Eligendi, et. Temporibus, quae atque. Laboriosam provident nisi, aspernatur adipisci eum nihil impedit dolorem ipsum alias maxime, ullam quo tenetur nam soluta quaerat praesentium maiores!
    Impedit aliquid est, ullam dolorum illo optio commodi assumenda molestias debitis sapiente itaque sit incidunt numquam, nostrum, cum dolorem adipisci vero voluptate recusandae quasi autem iste. At inventore veniam pariatur?
    Expedita corrupti ut repellat odio, veritatis velit error temporibus. Quae explicabo non odit cumque quidem, laboriosam similique maxime laborum molestiae doloremque aspernatur ipsam voluptate earum. Excepturi adipisci mollitia vel eos.
    Harum, aut eum odio placeat optio sint deleniti similique molestiae deserunt facere. Exercitationem eaque nisi molestias magni voluptatibus pariatur quaerat. Quia temporibus nostrum in dolorem veritatis inventore illo maiores. Temporibus!
    Vel, qui! Excepturi sunt nesciunt velit repellendus totam, dolore quidem quas ratione quaerat ullam veniam unde saepe doloribus qui expedita natus atque voluptate consequatur quae assumenda nisi pariatur, vitae dolor.
    Repellat exercitationem itaque sint ipsam optio quas voluptatem, alias provident necessitatibus quaerat molestias adipisci, aliquam laborum quis commodi ea esse consectetur hic iusto dolores! Quibusdam quia repellat totam eos. Temporibus?
    Laudantium obcaecati velit aspernatur enim iste impedit repellendus non eius architecto facere sed dignissimos veniam corporis ea et, dolorum distinctio ipsam corrupti maxime libero aperiam, unde incidunt inventore? Optio, facilis?
    Repellat, quas excepturi itaque nemo eius deserunt quam minus similique quisquam perferendis veniam ullam qui culpa soluta quod quia. Molestias aut nemo earum saepe ad blanditiis itaque sequi quos asperiores?
    Atque officiis illum delectus ipsam itaque. Iure temporibus itaque, aperiam inventore cum repellendus nulla hic dolorem saepe id omnis quasi distinctio enim! Necessitatibus quos veniam nisi ex nostrum, sapiente cumque!
    Quaerat amet nulla minus cum, ad inventore tempore eveniet earum facere consectetur velit impedit odit, suscipit eligendi doloribus officia voluptate! Aliquid repellat hic rerum nemo, inventore earum facilis ipsa iusto.
    Corporis, possimus laboriosam suscipit officia voluptatem tempore? Molestias, quod, similique ipsum obcaecati eligendi aliquam cumque ex voluptatibus, nobis cum deleniti perferendis quos! Perferendis necessitatibus ipsa autem incidunt qui quae saepe!
    tempora. Totam minima iusto eos, perferendis excepturi libero saepe aliquid ipsam magnam suscipit eveniet officia recusandae, debitis reprehenderit fuga consectetur laboriosam.</p>
  </section>
</article>
